 body {
    padding: 0;
    margin: 0;
 }

 .leaf-image {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 }

#form {
    background-color: hsl(240, 4%, 95%);
    padding: 20px;
}

 .form-control {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
 }

 .form-input {
    display: flex;
    flex-direction: column;
 }
